<div class="mb-4" style="padding-top: 10px; 
    margin-top: 110px; ">
	<div class="d-flex mb-2 justify-content-center p-0">
		<div class="card bg-light shadow-lg col-8 p-0 mb-5 bg-white rounded shadow-lg">
			<h5 class="card-header text-dark" style="background-color: #C8C8C8;">Your profile</h5>
			<div class="card-body p-3 d-flex">
				<div class="col-4">
					<img src="<%= @user.avatar.url %>" class="img-fluid ml-4 mt-4 mb-2" style="height: 350px; border-radius: 100%;">
				</div>
				<div class="col-8">
					<dl class="row m-3">
						<dt class="col-12 col-sm-4">First name</dt>
						<dd class="col-12 col-sm-8"><h5 class="card-title text-muted"><%= @user.first_name %></h5></dd>
						<dt class="col-12 col-sm-4">Last name</dt>
						<dd class="col-12 col-sm-8"><h5 class="card-title text-muted"><%= @user.last_name %></h5></dd>
						<dt class="col-12 col-sm-4">Username</dt>
						<dd class="col-12 col-sm-8"><h5 class="card-title text-muted"><%= @user.username %></h5></dd>
						<dt class="col-12 col-sm-4">Email</dt>
						<dd class="col-12 col-sm-8"><h5 class="card-title text-muted"><%= @user.email %></h5></dd>
						<dt class="col-12 col-sm-4">Country</dt>
						<dd class="col-12 col-sm-8"><h5 class="card-title text-muted"><%= @user.country %></h5></dd>
						<dt class="col-12 col-sm-4">Posts</dt>
						<dd class="col-12 col-sm-8"><h5 class="card-title text-muted"></h5></dd>
						</dd>
					</dl>
					<% @user_publishes.each do |publish| %>
						<div class="row">
							<div class="column">

									
							</div>
						</div>

							
						<%= image_tag publish.image.url ,style:"width: 650px; padding: 50px;" %>
					
					
					<% end %>
				</div>
			</div>
				
				<div class="d-flex flex-wrap justify-content-end mb-3">
					
					<%= link_to 'Back', root_url, :class => 'btn btn-secondary px-3 p-2 mr-4 mt-3', style:"font-size: 18px;" %>
					<%= link_to 'Conversations', conversations_path(@user.id), :class => "btn btn-success p-2 px-3 mr-4 mt-3", style:"font-size: 18px;" %>
					
				</div>
		</div>
	</div>
</div>
</div>